body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f2ef;
}

header {
  background: #6d0f1c;
  color: gold;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

nav a {
  color: gold;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  background: url('Banner.jpg.png') center/cover no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  background: rgba(0,0,0,0.4);
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.about-box {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  text-align: center;
}

.about-box h2 {
  color: #7a0f1d;
  margin-bottom: 20px;
  font-size: 32px;
}

.about-box p {
  color: #444;
  line-height: 1.7;
  margin-bottom: 15px;
  font-size: 17px;
}


.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #25d366;
  color: white;
  padding: 12px 18px;
  border-radius: 25px;
  text-decoration: none;
}
.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: 0.3s;
}

.btn-gold {
    background: gold;
    color: maroon;
}

.btn-gold:hover {
    background: #d4af37;
}

.btn-whatsapp {
    background: #25D366;
    color: white;
}

.btn-whatsapp:hover {
    background: #1ebe5d;
}
